//
//  dev.xcconfig
//  PostsApp
//
//  Created by Mohamed Elmalhey on 06/09/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "../Pods/Target Support Files/Pods-FeedFeature/Pods-FeedFeature.debug.xcconfig"

API_KEY=7ac2d2b17b574131a5d0a05bc59bd807

